<div class="row">
  <div class="col-10 __head">
    <div class="__head">
      <span class="__username"> Hi Rodrigo Rivera! </span>
      <br>
      <br>
      <span class="__title">DASHBOARD 💈</span>
      <br>
      <br>
    </div>
  </div>
  <div class="col-2 __right">
    <button mat-mini-fab color="white">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
</div>
<div class="row m20">
  <div class="__content">
    <mat-card class="__mainImg mat-elevation-z8">
      <div class="col-12 __center __promo_content">
        <span class="__promo_title">6TO SERVICIO GRATIS! 😎</span>
      </div>
      <div class="col-12 __center m40">
        <button mat-button color="white" class="__promo_btn">AGENDAR CITA! </button>
      </div>
    </mat-card>
  </div>
</div>

