<div class="row">
  <div class="col-10 __head">
    <div class="__head">
      <span class="__username"> Hi Rodrigo Rivera! </span>
      <br>
      <br>
      <span class="__title">RESERVACIONES 📅</span>
      <br>
      <br>
    </div>
  </div>
  <div class="col-2 __right">
    <button
      mat-mini-fab
      color="white"
      (click)="wantToAdd = !wantToAdd"
      mat-icon-button>
      <mat-icon *ngIf="wantToAdd">add</mat-icon>
      <mat-icon *ngIf="!wantToAdd">close</mat-icon>
    </button>
  </div>
</div>
<div class="row">
  <div>
    <div class="col-sm-12" style="width:100%" *ngIf="wantToAdd && calendarOptions">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>



