/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif!important;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}
.__center{
  text-align: center;
}
.__left{
  text-align: left;
}
.__right{
  text-align: right;
}

.m40 {
  margin-top: 40px;
}
.m20 {
  margin-top: 20px;
}

.mb20{
  margin-bottom: 20px;
}
